# Sentiment Analysis

In [2]:
#!pip install tweepy
#!pip install textblob

In [3]:
import re # regular expression / regex
import tweepy #Collect tweets
from tweepy import OAuthHandler # Authentication
from textblob import TextBlob # provides text mining, text analysis and text processing modules

In [4]:
def main(querytext):
    # creating object of TwitterClient Class
    api = TwitterClient()
    # calling function to get tweets
    tweets = api.get_tweets(query = querytext, count = 1000)
    print("Queries Text : ", querytext)
    # picking positive tweets from tweets
    ptweets = [tweet for tweet in tweets if tweet['sentiment'] == 'positive']
    # percentage of positive tweets
    print("Positive tweets percentage: {} %".format(100*len(ptweets)/len(tweets)))
    # picking negative tweets from tweets
    ntweets = [tweet for tweet in tweets if tweet['sentiment'] == 'negative']
    # percentage of negative tweets
    print("Negative tweets percentage: {} %".format(100*len(ntweets)/len(tweets)))
    # percentage of neutral tweets
    print("Neutral tweets percentage: {} %".format(100*(len(tweets) - len(ntweets) - len(ptweets))/len(tweets)))
    print("\n\n Total Tweets:",len(tweets))
    # printing first 5 positive tweets
    print("\n\nPositive tweets:")
    for tweet in ptweets[:5]:
        print(tweet['text'])
 
    # printing first 5 negative tweets
    print("\n\nNegative tweets:")
    for tweet in ntweets[:5]:
        print(tweet['text'])

In [6]:
#main('donald trumph')

# Feature Engineering

In [8]:
import pandas as pd
data = pd.read_csv('winequality-white.csv',';')
print(data.shape)
data.head()

(4898, 12)

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,7.0,0.27,0.36,20.7,0.045,45.0,170.0,1.0010,3.00,0.45,8.8,6
1,6.3,0.30,0.34,1.6,0.049,14.0,132.0,0.9940,3.30,0.49,9.5,6
2,8.1,0.28,0.40,6.9,0.050,30.0,97.0,0.9951,3.26,0.44,10.1,6
3,7.2,0.23,0.32,8.5,0.058,47.0,186.0,0.9956,3.19,0.40,9.9,6
4,7.2,0.23,0.32,8.5,0.058,47.0,186.0,0.9956,3.19,0.40,9.9,6

In [9]:
from collections import Counter
Counter(data.quality)

Counter({6: 2198, 5: 1457, 7: 880, 8: 175, 4: 163, 3: 20, 9: 5})

In [13]:
datacorr = data.corr()
datacorr.quality.sort_values()

density                -0.307123
chlorides              -0.209934
volatile acidity       -0.194723
total sulfur dioxide   -0.174737
fixed acidity          -0.113663
residual sugar         -0.097577
citric acid            -0.009209
free sulfur dioxide     0.008158
sulphates               0.053678
pH                      0.099427
alcohol                 0.435575
quality                 1.000000
Name: quality, dtype: float64

In [14]:
data = pd.read_csv('breast_cancer.csv')
X = data.iloc[:,:-1]
y = data.outcome

In [15]:
from sklearn.tree import DecisionTreeClassifier
model = DecisionTreeClassifier()
model.fit(X,y)

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=None,
                       max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort=False,
                       random_state=None, splitter='best')

In [16]:
pd.DataFrame(model.feature_importances_,index=X.columns).sort_values(0,ascending=False)

                                0
worst radius             0.695594
worst concave points     0.138938
worst texture            0.077284
worst smoothness         0.020043
mean texture             0.011277
worst area               0.011086
mean concave points      0.008771
worst concavity          0.008727
radius error             0.007316
mean symmetry            0.006444
symmetry error           0.005831
concave points error     0.005639
area error               0.002045
smoothness error         0.001004
worst perimeter          0.000000
fractal dimension error  0.000000
worst compactness        0.000000
worst symmetry           0.000000
mean radius              0.000000
compactness error        0.000000
concavity error          0.000000
perimeter error          0.000000
texture error            0.000000
mean fractal dimension   0.000000
mean concavity           0.000000
mean compactness         0.000000
mean smoothness          0.000000
mean area                0.000000
mean perimeter           0.000000
worst fractal dimension  0.000000

# PCA - Principal component analysis

In [17]:
import pandas as pd
data = pd.read_csv('iris.csv')
print(data.shape)
data.head()

(150, 5)

   sepal_length  sepal_width  petal_length  petal_width  target
0           5.1          3.5           1.4          0.2       0
1           4.9          3.0           1.4          0.2       0
2           4.7          3.2           1.3          0.2       0
3           4.6          3.1           1.5          0.2       0
4           5.0          3.6           1.4          0.2       0

In [18]:
X = data.iloc[:,:-1]
y = data.target
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.3,
                                     random_state=10)

In [19]:
from sklearn.ensemble import RandomForestClassifier
model = RandomForestClassifier()
model.fit(X_train,y_train)
y_predict = model.predict(X_test)
from sklearn.metrics import accuracy_score
accuracy_score(y_test,y_predict)

/home/cgopikrish/anaconda3/lib/python3.7/site-packages/sklearn/ensemble/forest.py:245: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)

0.9777777777777777

In [20]:
from sklearn.decomposition import PCA
pca = PCA()
X = pd.DataFrame(pca.fit_transform(X),columns=['PC1','PC2','PC3','PC4'])
X_train_pca,X_test_pca,y_train,y_test = train_test_split(X,y,test_size=0.3,
                                     random_state=10)

In [21]:
X_train.head(2)

    sepal_length  sepal_width  petal_length  petal_width
32           5.2          4.1           1.5          0.1
52           6.9          3.1           4.9          1.5

In [22]:
X_train_pca.head(2)

         PC1       PC2       PC3       PC4
32 -2.647637  0.819983  0.230586 -0.284809
52  1.464061  0.504190 -0.338261 -0.000858

In [23]:
pca.explained_variance_ratio_

array([0.92461621, 0.05301557, 0.01718514, 0.00518309])

In [24]:
X_train_pca_selected = X_train_pca.loc[:,['PC1','PC2']]
X_test_pca_selected = X_test_pca.loc[:,['PC1','PC2']]

In [25]:
X_test_pca_selected.head(2)

          PC1       PC2
87   0.812868 -0.370679
111  1.802340 -0.216155

In [26]:
model = RandomForestClassifier()
model.fit(X_train_pca_selected,y_train)
y_predict = model.predict(X_test_pca_selected)
from sklearn.metrics import accuracy_score
accuracy_score(y_test,y_predict)

/home/cgopikrish/anaconda3/lib/python3.7/site-packages/sklearn/ensemble/forest.py:245: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)

0.9555555555555556

In [27]:
# HP Prediction Model

In [29]:
import pandas as pd
data = pd.read_csv('hp_data.csv')
data.head()

,Unnamed: 0,price,place,built,sqft,sale,yearsOld,floor,totalFloor,bhk
0,1341,6300000,BTM Layout,Super built-up Area,1450,Resale,5,1,4,1
1,2126,11500000,Yelahanka,Super built-up Area,2190,Resale,5,3,5,3
2,816,3800000,Whitefield,Super built-up Area,1019,Resale,1,2,5,2
3,2708,10500000,Ambalipura,Super built-up Area,1857,Resale,15,4,5,4
4,1041,11500000,Yelahanka,Super built-up Area,2190,Resale,5,3,5,3

In [30]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3500 entries, 0 to 3499
Data columns (total 10 columns):
Unnamed: 0    3500 non-null int64
price         3500 non-null int64
place         3500 non-null object
built         3500 non-null object
sqft          3500 non-null int64
sale          3500 non-null object
yearsOld      3500 non-null int64
floor         3500 non-null int64
totalFloor    3500 non-null int64
bhk           3500 non-null int64
dtypes: int64(7), object(3)
memory usage: 273.5+ KB

In [31]:
data.isnull().sum()

Unnamed: 0    0
price         0
place         0
built         0
sqft          0
sale          0
yearsOld      0
floor         0
totalFloor    0
bhk           0
dtype: int64

In [32]:
data.head()

,Unnamed: 0,price,place,built,sqft,sale,yearsOld,floor,totalFloor,bhk
0,1341,6300000,BTM Layout,Super built-up Area,1450,Resale,5,1,4,1
1,2126,11500000,Yelahanka,Super built-up Area,2190,Resale,5,3,5,3
2,816,3800000,Whitefield,Super built-up Area,1019,Resale,1,2,5,2
3,2708,10500000,Ambalipura,Super built-up Area,1857,Resale,15,4,5,4
4,1041,11500000,Yelahanka,Super built-up Area,2190,Resale,5,3,5,3

In [33]:
data.drop('Unnamed: 0',axis=1,inplace=True)

In [34]:
from collections import Counter
Counter(data.place)

Counter({'BTM Layout': 356,
         'Yelahanka': 337,
         'Whitefield': 327,
         'Ambalipura': 340,
         'Devarabeesana Halli': 368,
         'Yelachenahalli': 321,
         'KR Puram': 358,
         'Electronics City Phase 1': 351,
         'Abbaiah Reddy Layout': 352,
         'Subramanyapura': 323,
         'Rajaji Nagar': 9,
         'Sarakki Nagar': 18,
         'Gunjur': 12,
         'Malleshwaram': 17,
         'Frazer Town': 11})

In [35]:
Counter(data.sale)

Counter({'Resale': 3500})

In [36]:
Counter(data.built)

Counter({'Super built-up  Area': 3148, 'Built-up  Area': 352})

In [37]:
# Feature Engineering for HP Data

In [43]:
# Label encoding
from sklearn.preprocessing import LabelEncoder
enc_place = LabelEncoder()
enc_built = LabelEncoder()
data.place = enc_place.fit_transform(data.place)
data.built = enc_built.fit_transform(data.built)
data.head()

      price  place  built  sqft    sale  yearsOld  floor  totalFloor  bhk
0   6300000      2      1  1450  Resale         5      1           4    1
1  11500000     14      1  2190  Resale         5      3           5    3
2   3800000     12      1  1019  Resale         1      2           5    2
3  10500000      1      1  1857  Resale        15      4           5    4
4  11500000     14      1  2190  Resale         5      3           5    3

In [44]:
pd.DataFrame(enc_place.classes_)

     0
0    0
1    1
2    2
3    3
4    4
5    5
6    6
7    7
8    8
9    9
10  10
11  11
12  12
13  13
14  14

In [45]:
# finding correlation of X with y. Selecting / Transforming Features
data.corr()

,price,place,built,sqft,yearsOld,floor,totalFloor,bhk
price,1.000000,0.017520,0.219235,0.778364,0.215712,0.263472,0.402256,0.263472
place,0.017520,1.000000,0.436348,0.105978,-0.573264,0.216312,0.199951,0.216312
built,0.219235,0.436348,1.000000,0.271690,-0.210871,0.223619,0.177752,0.223619
sqft,0.778364,0.105978,0.271690,1.000000,0.229461,0.356053,0.358946,0.356053
yearsOld,0.215712,-0.573264,-0.210871,0.229461,1.000000,-0.116427,-0.142562,-0.116427
floor,0.263472,0.216312,0.223619,0.356053,-0.116427,1.000000,0.958100,1.000000
totalFloor,0.402256,0.199951,0.177752,0.358946,-0.142562,0.958100,1.000000,0.958100
bhk,0.263472,0.216312,0.223619,0.356053,-0.116427,1.000000,0.958100,1.000000

In [46]:
X = data.loc[:,['sqft','yearsOld','totalFloor','place','bhk']]
y = data.price
X.head()

   sqft  yearsOld  totalFloor  place  bhk
0  1450         5           4      2    1
1  2190         5           5     14    3
2  1019         1           5     12    2
3  1857        15           5      1    4
4  2190         5           5     14    3

In [48]:
# Model Splittign to Train and Test

In [50]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=0.3,random_state=10)
X_train.shape

(2450, 5)

In [51]:
from sklearn.linear_model import LinearRegression
model = LinearRegression()
model.fit(X_train,y_train)
y_predict = model.predict(X_test)

In [52]:
from sklearn.metrics import r2_score  #  r2 =  1 -  SSR/SST
r2_score(y_test,y_predict)

0.8560640099843069

In [54]:
# EXporting the model

In [55]:
from sklearn.externals import joblib
joblib.dump(model, "modelhp20oct.ml")

/home/cgopikrish/anaconda3/lib/python3.7/site-packages/sklearn/externals/joblib/__init__.py:15: DeprecationWarning: sklearn.externals.joblib is deprecated in 0.21 and will be removed in 0.23. Please import this functionality directly from joblib, which can be installed with: pip install joblib. If this warning is raised when loading pickled models, you may need to re-serialize those models with scikit-learn 0.21+.
  warnings.warn(msg, category=DeprecationWarning)

['modelhp20oct.ml']