In [3]:
import numpy as np
import pandas as pd

In [4]:
data = pd.read_csv('Child_data.csv')
data.head()

,Unnamed: 0,name,Birth Month,Birth Year,Day,Height,Remarks
0,1,David,5,88,1st Monday,2'0'',Boy with Left biggerfoot and Right dominant hand
1,2,Lars,10,87,3rd Tuesday,2'1'',Boy with Left biggerfoot and Left dominant hand
2,3,Zach,12,87,2nd Saturday,2'0'',Boy with Right biggerfoot and Right dominant ...
3,4,Josh,1,88,1st Tuesday,2'1'',Boy with Left biggerfoot and Right dominant hand
4,5,Lang,2,88,1st Monday,2'1'',Boy with Left biggerfoot and Right dominant hand

In [5]:
data.columns

Index(['Unnamed: 0', 'name', 'Birth Month', 'Birth Year', 'Day', 'Height',
       'Remarks'],
      dtype='object')

In [6]:
data.drop(columns = 'Unnamed: 0',inplace = True)

In [7]:
for i in range(len(data.Remarks)):
    if data.Remarks[i][0] == 'B':
        data.loc[i, 'Gender'] = 'Boy'
    else:
        data.loc[i,'Gender'] = 'Girl'

In [8]:
data.tail()

,name,Birth Month,Birth Year,Day,Height,Remarks,Gender
34,Peter,4,88,2nd Saturday,2'0'',Boy with Right biggerfoot and Left dominant hand,Boy
35,Hannah,3,88,1st Sunday,1'10'',Girl with Left biggerfoot and Right dominant ...,Girl
36,Teshanna,3,88,1st Thursday,2'2'',Girl with Left biggerfoot and Right dominant ...,Girl
37,Hayley,1,88,2nd Thursday,1'9'',Girl with Right biggerfoot and Right dominant...,Girl
38,Alisha,9,88,4th Sunday,2'0'',Girl with Left biggerfoot and Right dominant ...,Girl

In [9]:
data.Remarks[0][0]

'B'

In [10]:
for i in range(len(data.Remarks)):
    if data.Remarks[i][0] == 'B':
        data.loc[i,'Gender'] = 'Male'
    else:
        data.loc[i,'Gender'] = 'Female'

In [12]:
for i in range(len(data.Remarks)):
    if(data.Remarks.str.contains('Left dominant hand' and 'Left biggerfoot'))[i]:
        data.loc[i,'Dominant Hand (L/R)' and 'Bigger Foot(L/R)'] = 'L'
    elif(data.Remarks.str.contains('Right dominant hand' and 'Right biggerfoot'))[i]:
        data.loc[i,'Dominant Hand (L/R)' and 'Bigger Foot(L/R)']  = 'R'

In [13]:
data.tail()

,name,Birth Month,Birth Year,Day,Height,Remarks,Gender,Dominant Hand (L/R),Bigger Foot(L/R)
34,Peter,4,88,2nd Saturday,2'0'',Boy with Right biggerfoot and Left dominant hand,Male,L,R
35,Hannah,3,88,1st Sunday,1'10'',Girl with Left biggerfoot and Right dominant ...,Female,R,L
36,Teshanna,3,88,1st Thursday,2'2'',Girl with Left biggerfoot and Right dominant ...,Female,R,L
37,Hayley,1,88,2nd Thursday,1'9'',Girl with Right biggerfoot and Right dominant...,Female,R,R
38,Alisha,9,88,4th Sunday,2'0'',Girl with Left biggerfoot and Right dominant ...,Female,R,L

In [14]:
for i in range(len(data.Height)):
    hcm = data.Height[i].split()
    ft = int(data.Height[i][0])
    inch = int(data.Height[i][2])
    
    inch += ft * 12
    h_cm = round(inch * 2.54, 1)
    
    data.loc[i, 'H in Cms'] = h_cm

In [15]:
inu =3
inu += 1+2
inu

6

In [16]:
for i in range(len(data.Height)):
    hcm = data.Height[i].split()
    ft = int(data.Height[i][0])
    inch = int(data.Height[i][0])

In [17]:
d = data.Height[0].split()

In [18]:
d

["2'0''"]

In [19]:
for i in range(len(data.Height)):
    hcm = data.Height[i].split()
    ft = int(data.Height[i][0])
    inch = int(data.Height[i][2])
    inch += ft * 12
    hcm = round(inch * 2.54,1)
    
    data.loc[i,'H in cm'] = hcm

In [20]:
data.head()

,name,Birth Month,Birth Year,Day,Height,Remarks,Gender,Dominant Hand (L/R),Bigger Foot(L/R),H in Cms,H in cm
0,David,5,88,1st Monday,2'0'',Boy with Left biggerfoot and Right dominant hand,Male,R,L,61.0,61.0
1,Lars,10,87,3rd Tuesday,2'1'',Boy with Left biggerfoot and Left dominant hand,Male,L,L,63.5,63.5
2,Zach,12,87,2nd Saturday,2'0'',Boy with Right biggerfoot and Right dominant ...,Male,R,R,61.0,61.0
3,Josh,1,88,1st Tuesday,2'1'',Boy with Left biggerfoot and Right dominant hand,Male,R,L,63.5,63.5
4,Lang,2,88,1st Monday,2'1'',Boy with Left biggerfoot and Right dominant hand,Male,R,L,63.5,63.5